<a href="https://colab.research.google.com/github/meriemdouider1/data_mining_project/blob/main/data_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data_1 = '/content/DEMO_J.xlsx'
Demo_data= pd.read_excel(data_1,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(Demo_data)

9254

In [3]:
Demo_data.head()

    SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  ...  SDMVSTRA  INDHHIN2  INDFMIN2  INDFMPIR
0  93703        10         2         2  ...       145      15.0      15.0      5.00
1  93704        10         2         1  ...       143      15.0      15.0      5.00
2  93705        10         2         2  ...       145       3.0       3.0      0.82
3  93706        10         2         1  ...       134       NaN       NaN       NaN
4  93707        10         2         1  ...       138      10.0      10.0      1.88

[5 rows x 46 columns]

In [4]:
data_2 = '/content/DIQ_J.xlsx'
Quest_data= pd.read_excel(data_2,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(Quest_data)

8897

In [5]:
d1=pd.merge(Quest_data,Demo_data)

In [6]:
len(d1)

8897

In [8]:
data_3 = '/content/Dietary_Data.xlsx'
Dietary_data= pd.read_excel(data_3,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(Dietary_data)

4012

In [9]:
d2=pd.merge(d1,Dietary_data)

In [10]:
len(d2)

3987

In [11]:
data_4 = '/content/Examination Data.xlsx'
Examination_data= pd.read_excel(data_4,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(Examination_data)

880

In [14]:
d3=pd.merge(d2,Examination_data)

In [15]:
len(d3)

0

In [17]:
data_5 = '/content/Laboratory Data.xlsx'
labo_data= pd.read_excel(data_5,
sheet_name=0,
header=0,
index_col=False,
keep_default_na=True
)
len(labo_data)

1175

In [20]:
labo_data.head()

   Unnamed: 0   SEQN       WTFOL2YR  ...  LBXVIC  LBDVICSI  LBDVICLC
0           0  93711   30515.406501  ...   1.520     86.30       0.0
1           1  93718   41525.006962  ...   2.050    116.00       0.0
2           2  93731   59175.193015  ...   0.698     39.60       0.0
3           3  93735   24316.425101  ...   0.071      4.03       0.0
4           4  93738  124528.616043  ...   0.486     27.60       0.0

[5 rows x 87 columns]

In [18]:
d4=pd.merge(d2,labo_data)

In [19]:
len(d4)

0